#blog-graph{
    display: inline-block;
}
#banner{
    align-items: center;
    min-height: 500px;
    background-image: url('/assets/images/index_jum_bg.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}
@media(max-width: 980px) {
    #banner{
        background-size: 980px auto;
    }
}

.bg-grey{
    background-color: #f7f7f7;
}

.vertical-center{
align-items: center;
}