body{
    margin-top: 56px;
}

#blog-graph{
    display: inline-block;
}
#banner{
    align-items: center;
    min-height: 500px;
    background-image: url('/assets/images/index_jum_bg.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}
@media(max-width: 980px) {
    #banner{
        background-size: 980px auto;
    }
}

.bg-grey{
    background-color: #f7f7f7;
}

.vertical-center{
align-items: center;
}

.text-center{
    justify-content: center;
}

.link-block:hover{
    background-color: #979797;
    color: white;
    cursor: pointer;
    text-decoration: none;

}
.link-block:active{
    background-color: #676767;
}

.blog-list{
    margin-top: 10px;
    margin-bottom: 15px;
}

.blog-list:hover{
    text-decoration: none;
    color: #979797;
}
.blog-list:active{
    color: #676767;
}

.section-header{
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom: 10px #66afe9;
}

.bg-dark hr{
    border-top-color: #646a80;

}

.header{
    margin-top: 50px;
    margin-bottom: 50px;
}

.cate-blog-list{
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px grey;
    border-top: solid 1px grey;
    color: black;
}

.brand{
    margin-top: 20px;
}

#posts{
    min-height:550px;
}

#post{
    min-height:450px;

}