<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	{% include header.html %}
</head>
<body>

{% include navbar.html %}
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<h1 class="header">{{page.title}}</h1>
				<p class="h6 text-dark">{{page.date| date: '%B %d, %Y'}}</p>

			</div>
		</div>
	</div>
</header>
<div>
	<div id="post" class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<p>{{ page.content }}</p>
			</div>
		</div>
	</div>
</div>
</section>


{% include footer.html %}
</body>
</html>